POSTGRES_HOST=localhost
POSTGRES_PORT=5842
POSTGRES_HOST_PORT=5842
POSTGRES_DATABASE=RetailOperations
POSTGRES_USER=drasi_user
POSTGRES_PASSWORD=drasi_password
MYSQL_HOST=localhost
MYSQL_PORT=3319
MYSQL_HOST_PORT=3319
MYSQL_DATABASE=PhysicalOperations
MYSQL_USER=drasi_user
MYSQL_PASSWORD=drasi_password
WEB_PORT=3000
